<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <%= f.input :email, placeholder: 'user@domain.com', autocomplete:"email",autofocus:true %>
    <% if @minimum_password_length %>
    <%= f.input :password, hint: 'No special characters.', autocomplete: "new-password" %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.input :password_confirmation, hint: 'No special characters.', autocomplete: "new-password" %>
    <%=f.input :roles, as: :radio_buttons, collection: Role.where.not(name:'admin'), value_method: :name, required: true%> 
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
