<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<%= f.input :email, placeholder: 'user@domain.com' %>
 <%= f.input :password %>
 <%= f.input :password_confirmation %>
 <%= f.input :roles, as: :radio_buttons, collection: Role.where.not(name:'admin'), value_method: :name, required: true%>
  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
