<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <div class="nav-link pl-0 text-nowrap">
                            <i class="fas fa-chart-line"></i>
                            <span class="font-weight-bold">Stock Trading App</span></div>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Home', home_index_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Portfolio', buyers_stocks_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'View Transactions', buyers_transactions_index_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Update Profile', edit_user_registration_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <% if user_signed_in? %>
                              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link px-sm-0 px-2" %><br>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
          <h1>Buy Stocks</h1>
          <table>
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Price</th>
                <th>Broker</th>
                <th class="col-4"><th>
              </tr>
            </thead>
            <tbody>
              <% @broker_stocks.each do |stock| %>
              <tr>
                <td><%= stock.ticker %></td>
                <td><%= stock.company %></td>
                <td>$ <%= stock.price %></td>
                <td><%= stock.user.email %></td>
                <td><%= link_to "Buy", new_buyers_stock_path, class: "btn btn-success" %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </main>
    </div>
</div>