<% quote = @client.quote(params[:search]) %>
<p>Ticker: <%= quote.symbol %></p>
<p>Company Name: <%= quote.company_name %></p>
<p>Latest Price: $ <%= quote.latest_price %></p>
<p>Percent Change: <%= quote.change_percent %> %</p>

<%= form_with(model: broker_stock) do |form| %>
  <% if broker_stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(broker_stock.errors.count, "error") %> , please check your inputs </h2>
        <ul>
          <% broker_stock.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  <div class="submit">
    <%= form.submit "Buy Stock" %>
  </div>
  <div class="field invisible">
    <%= form.label :ticker %>
    <%= form.text_field :ticker, value: "#{quote.symbol}" %>
  </div>
  <div class="field invisible">
    <%= form.label :company %>
    <%= form.text_field :company, value: "#{quote.company_name}" %>
  </div>
  <div class="field invisible">
    <%= form.label :price %>
    <%= form.number_field :price, value: "#{quote.latest_price}" %>
  </div>
<% end %> 
