<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="#">
                            <i class="fa fa-bullseye fa-fw"></i> 
                            <span class="font-weight-bold">Stock Trading App</span></a>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Home', home_index_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Portfolio', broker_stocks_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'View Transactions', broker_transactions_index_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Update Profile', edit_user_registration_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <% if user_signed_in? %>
                              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link px-sm-0 px-2" %><br>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
          <h1>Buy Stocks</h1>
          <div class="center">
            <div class="search-container">
                <%= form_tag(new_broker_stock_path, :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Enter a Symbol", class: 'form-control' %>
                    <%= submit_tag "Search", class: 'btn btn-primary' %>
                <% end %>
            </div>
            <br>
            <div>
                <% unless params[:search].blank? %>
                <%= render 'form', broker_stock: @broker_stock %>
                <% end %>
            </div>
          </div>
        </main>
    </div>
</div>