<h1>Broker's Dashboard</h1>
<br>
<%= link_to 'Home', home_index_path %>
<br>
<%= link_to 'Update Info', edit_user_registration_path %><br>
<br>
<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br>
<% end %>
<br>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Company</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
    <tr>
      <th><%= stock.ticker %></th>
      <th><%= stock.company %></th>
      <th><%= stock.price %></th>
    <% end %>
    </tr>
  </tbody>
</table>

<br>
<div class="input-group">
  <div class="form-outline">
  <%= form_tag(stocks_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter a Symbol", class: 'form-control' %>
    <span class="input-group-btn">
      <%= submit_tag "Show Details", class: 'btn btn-primary' %>
    </span>
  <% end %>
  </div>
</div>

<div class="buy-stocks">
  <% unless params[:search].blank? %>
    <% quote = @client.quote(params[:search]) %>
      <p>Ticker: <%= quote.symbol %></p>
      <p>Company Name: <%= quote.company_name %></p>
      <p>Latest Price: $ <%= quote.latest_price %></p>
      <p>Percent Change: <%= quote.change_percent %> %</p>
  <% end %>
</div>

