
<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <div class="nav-link pl-0 text-nowrap">
                            <i class="fas fa-chart-line"></i> 
                            <span class="font-weight-bold">Stock Trading App</span></div>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Home', home_index_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Search', home_search_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Portfolio', broker_stocks_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Update Profile', edit_user_registration_path, class: "nav-link px-sm-0 px-2" %>
                        </li>
                        <li class="nav-item">
                            <% if user_signed_in? %>
                              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link px-sm-0 px-2" %><br>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
          <h1>Broker's Transactions</h1>
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Symbol</th>
                <th scope="col">Company</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
              <% @broker_transactions.each_with_index do |stock, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td scope="row"><%= stock.symbol %></td>
                <td scope="row"><%= stock.company %></td>
                <td scope="row"><%= stock.price %></td>
                <td scope="row"><%= stock.quantity %></td>
                <td scope="row"><%= stock.created_at.strftime("%B %d, %Y") %></td>
                <td scope="row"></td>
              </tr>
              <% end %>
            <tbody>
            </tbody>
          <table>
        </main>
    </div>
</div>