
<div class="topnav">
  <div>
    <%= link_to 'Home', root_path %>
  </div>
  <div>
    <%= link_to 'About', home_about_path %>
  </div>
  <div>
    <% if current_user.has_role?(:broker) %>
      <%= link_to 'Broker\'s Portfolio', stocks_path %>
    <% elsif current_user.has_role?(:buyer) %>
      <%= link_to 'Buyer\'s Portolio', buyers_stocks_path %>
    <% elsif current_user.has_role?(:admin) %>
      <%= link_to 'Admin\'s Dashboard', rails_admin_path %>
    <% end %>
  </div>
  <div class="search-container">
  <%= form_tag(home_index_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter a Symbol", class: 'form-control' %>
    <%= submit_tag "Search", class: 'btn btn-default' do %>
    <% end %>
  <% end %>
  </div>
</div>
<br>
<br>
<div>
  <% unless params[:search].blank? %>
    <% quote = @client.quote(params[:search]) %>
      <p>Ticker: <%= quote.symbol %></p>
      <p>Company Name: <%= quote.company_name %></p>
      <p>Latest Price: $ <%= quote.latest_price %></p>
      <p>Percent Change: <%= quote.change_percent %> %</p>
  <% end %>
</div>
<br> 
<h1>Top Ten Stocks</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Symbol</th>
      <th scope="col">Company</th>
      <th scope="col">Open Price</th>
      <th scope="col">Close Price</th>
      <th scope="col">Percent Change</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
    </tr>
    </thead>
    <tbody>
       <% @client.stock_market_list(:mostactive).each_with_index do |quote, index| %>
       <tr>
         <td scope="row"><%= index + 1 %></td>
         <td scope="row"><%= quote.symbol %></td>
         <td scope="row"><%= quote.company_name %></td>
         <td scope="row">$ <%= quote.open %></td>
         <td scope="row">$ <%= quote.close %></td>
         <td scope="row"><%= quote.change_percent %> %</td>
         <td scope="row"><%= quote.high %> %</td>
         <td scope="row"><%= quote.low %> %</td>
       </tr>
       <% end %>
    </tbody>
  </table>





