<<<<<<< HEAD

=======
>>>>>>> origin/eds-branch

<h1>Home</h1>
<br>
  <% if current_user.has_role?(:broker) %>
    <%= link_to 'Broker\'s dashboard', deal_stocks_path(:deal_id) %>
  <% elsif current_user.has_role?(:buyer) %>
    <%= link_to 'Buyer\'s dashboard', deal_buyers_stocks_path(:deal_id) %>
  <% elsif current_user.has_role?(:admin) %>
    <%= link_to 'Admin\'s dashboard', rails_admin_path %>
  <% end %>
<br>
<% if user_signed_in? %>
<<<<<<< HEAD
<h1>Welcome <%= current_user.email %></h1>

  <%= link_to 'Update Info', edit_user_registration_path %><br>
=======
>>>>>>> origin/eds-branch
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %><br>

<%= form_tag root_path, :method => 'POST' do%>
<%= text_field_tag 'ticker', nil, placeholder:'enter ticker symbol', size: 50%>
<%= submit_tag 'Search'%>
<%end%>
<%if @company%>
<%=@company.company_name%>
<%end%>
<br>
<<<<<<< HEAD
<% if @quote%>
<table>
<tr>
<th>latest_price</th>
<th>change</th>
<th>change_percent</th>
<th>change_percent_s</th>
</tr>
</table>
<tr>
<td><%=@quote.latest_price %></td>
<td><%=@quote.change %></td>
<td><%=@quote.change_percent %></td>
<td><%=@quote.change_percent_s %></td>
</tr>
<% end %>

<%end%>
=======

<h1>Top Ten Stocks</h1>
  <table>
    <thead>
      <th>No.</th>
      <th>Ticker</th>
      <th>Company</th>
      <th>Latest Price</th>
      <th>Percent Change</th>
    </thead>
    <tbody>
       <% @client.stock_market_list(:mostactive).each_with_index do |quote, index| %>
       <tr>
         <td><%= index + 1 %>
         <td><%= quote.symbol %></td>
         <td><%= quote.company_name %></td>
         <td>$ <%= quote.latest_price %></td>
         <td><%= quote.change_percent %> %</td>
       </tr>
       <% end %>
    </tbody>
  </table>

<br>

<div class="input-group">
  <%= form_tag(home_index_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter a Symbol", class: 'form-control' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-default' %>
    </span>
  <% end %>
</div>
<br>

<div>
  <% unless params[:search].blank? %>
    <% quote = @client.quote(params[:search]) %>
      <p>Ticker: <%= quote.symbol %></p>
      <p>Company Name: <%= quote.company_name %></p>
      <p>Latest Price: $ <%= quote.latest_price %></p>
      <p>Percent Change: <%= quote.change_percent %> %</p>
  <% end %>
</div> 





>>>>>>> origin/eds-branch

