<div class="container-fluid">
  <div class="row min-vh-100 flex-column flex-md-row">
    <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
      <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse ">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item">
                <div class="nav-link pl-0 text-nowrap">
                <i class="fas fa-chart-line"></i> 
                <span class="font-weight-bold">Stock Trading App</span></div>
            </li>
            <li class="nav-item">
                <%= link_to 'Home', home_index_path, class: "nav-link px-sm-0 px-2" %>
            </li>
            <li class="nav-item">
                <% if current_user.has_role?(:broker) %>
                    <%= link_to 'Portfolio', broker_stocks_path, class: "nav-link px-sm-0 px-2", id: "broker" %>
                <% elsif current_user.has_role?(:buyer) %>
                    <%= link_to 'Portolio', buyers_stocks_path, class: "nav-link px-sm-0 px-2", id: "buyer" %>
                <% elsif current_user.has_role?(:admin) %>
                    <%= link_to 'Admin\'s Dashboard', rails_admin_path, class: "nav-link px-sm-0 px-2" %>
                <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col bg-faded py-3 flex-grow-1">
    <div class="center">
        <div class="search-container">
            <%= form_tag(home_search_path, :method => "get", class: "form-inline", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Enter a Symbol", class: 'form-control mr-md-2' %>
              <%= submit_tag "Search", class: 'btn btn-primary my-2 my-sm-0' %>
            <% end %>
        </div>
        <br>
        <ul class="list-group">
            <% unless params[:search].blank? %>
            <% quote = @client.quote(params[:search]) %>
            <% income_statements = @client.income(params[:search]) %>
            <% income = income_statements.first %>
            <div id="stock-info">
            <li class="list-group-item"><strong>Symbol:</strong> <%= quote.symbol %></li>
            <li class="list-group-item"><strong>Company Name:</strong> <%= quote.company_name %></li>
            <li class="list-group-item"><strong>Latest Price:</strong> $ <%= quote.latest_price %></li>
            <li class="list-group-item"><strong>Percent Change:</strong> <%= quote.change_percent %> %</li>
            <li class="list-group-item"><strong>Total Revenue:</strong> <%= income.total_revenue_dollar %></li>
            <li class="list-group-item"><strong>Gross Profit:</strong> <%= income.gross_profit_dollar %></li>
            </div>
            <% end %>
        </ul>
      </div>
    </main>
  </div>
</div>