
<%=stylesheet_link_tag "sessions"%>

 
    <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex"></div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
            Login into account
          </h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-box px-3">
            <div class="form-input">
          
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'w-100 mb-2 rounded',placeholder:'enter your email' %>
            </div>
            <div class="form-input">
           
            <%= f.label :password %><br />
             <%= f.password_field :password, autocomplete: "current-password" , class:'w-100 rounded ',placeholder:'enter your password'%>     
            </div>


            <div class="mb-3">
             <%= f.submit "Log in",class:"btn btn-sm btn-primary btn-block text-uppercase"%>
            </div>

            <div class="text-right">
           <%= render "devise/shared/links" %>

         
            </div>
            </div>
<% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>